/* .cancel-btn {
  background-color: #DF2E38;
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 0;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease;
  border: solid 1px #DF2E38;
  outline: #DF2E38 solid 1px oppacity(0.5);
}

.cancel-btn:hover {
  background-color: #DF2E38;
  outline: #DF2E38 solid 1px oppacity(1);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 0;
  font-weight: 600;
  border: none;
} */
.cancel-button:hover {
  background-color: #DF2E38 !important;
  color: #fff !important;
  border: #fff solid 1px; /* Change text color on hover if needed */
}


.upcoming-appointments-container {
  max-height: 530px;
  overflow-y: auto;
}
.alert-item {
  background-color: #ededed;
  color: #000;
  font-size: 0.9rem;
}

.appointment-card {
  border: solid 1px #000;

  width: 100%;
}

.alert-container {
  max-height: 250px;
  overflow-y: auto;
}

.mantine-Accordion-content {
  padding: 2px !important;
}

.card-text {
  font-size: 0.9rem !important;
}

.c-card {
  width: 100% !important;
}

.mantine-Accordion-label {
  font-weight: 600 !important;
}
